title = "Мы в СМИ карточка"
url = "/mass-media/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "listings/mass-media"
==
function onEnd() {
if (empty($this->blogPost->post->categories()->where('slug', 'my-v-smi')->first())) {
return $this->controller->run(404);
}
}
==
{% put styles %}
    <link rel="stylesheet" href="{{ [
        'assets/css/partials/breadcrumbs.css',
        'assets/css/pages/card.css'
    ]|theme }}">
{% endput %}
{% put main_classes %}
    id="card-page"
    class="card-scinece-page"
{% endput %}
{% set breadcrumbs = [
    {'title': 'Наука', 'url' : 'listings/science-listing'|page },
    {'title': post.title, 'isActive' : true },
] %}
<div class="container">
    {% if post.featured_images.count %}
        <div class="featured-images text-center">
            {% for image in post.featured_images %}
                <p>
                    <img
                            data-src="{{ image.filename }}"
                            src="{{ image.path }}"
                            alt="{{ image.description }}"
                            style="max-width: 100%"
                            class="img-fluid hero-card-img" />
                </p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% partial 'layout/breadcrumbs/breadcrumbs' breadcrumbs=breadcrumbs %}
<section id="card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="title">
                    {{ post.title }}
                </h1>
            </div>
        </div>
        <hr>
        <div class="fr-view">
            {{ post.content_html|raw }}
        </div>
        <div class="date-block">
            <span class="publish">Опубликованно</span>
            <span class="date">{{ post.published_at | date('d.m.Y') }}</span>
        </div>
        <div class="row">
            <div class="col-lg-9">
                {% if post.authors %}
                    <div class="science-description">
                        <span class="headline">Авторы:</span>
                        <ul class="list">
                            {% for item in post.authors %}
                                <li class="list-item">{{ item.author }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="science-description">
                    {% if post.journal %}
                   <span class="headline">
                      Название журнала
                   </span>
                   <span class="science-name">{{ post.journal }}</span>
                    {% endif %}
                    {% if post.file_article %}
                        <a href="{{ post.file_article.path }}" class="btn btn-science">Скачать статью</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>