/vendor
/storage
/modules
/config
/bootstrap
/plugins/bedard
/plugins/lovata/fakedatashopaholic
/plugins/rainlab/debugbar
node_modules/

.user.ini
artisan
.htaccess
/index.php
server.php
composer.json
composer.lock
.DS_Store
.idea
composer.json
composer.lock
error_log
php.ini