.staff-card-wrap
   .img-wrap
      padding: 30px 20px 0
      text-align: center
      border: 1px solid #1171c2
      background-color: #f9f8f4
   .staff-name
      display block
      margin: 25px 0
      font-size: 24px
      font-weight: 700
   .description
      margin-bottom: 60px
@media(max-width 991px)
   .staff-card-wrap
      .staff-name
         margin: 15px 0
      .description
         margin-bottom: 30px