.about-us-page .h-section {
  margin-bottom: 30px;
}
.about-us-page #breadcrumbs {
  background-color: #f6f6f6;
}
.about-us-page #about-us {
  padding: 10px 0 40px;
}
.about-us-page #staff {
  padding: 60px 0 30px;
}
.about-us-page #history {
  padding: 60px 0;
}
@media (max-width: 767px) {
  .about-us-page .h-section {
    margin-bottom: 20px;
  }
  .about-us-page #about-us {
    padding: 10px 0 20px;
  }
  .about-us-page #staff {
    padding: 30px 0 10px;
  }
  .about-us-page #history {
    padding: 30px 0;
  }
}
