.modal
   .modal-content
      padding: 15px 30px 40px
   .close-modal
      padding: 10px 15px
      border: none
      position absolute
      right 0
      top 0
      font-size: 30px
      outline: none
      color #000
      line-height: 1
   .modal-header
      padding: 0
      border-bottom: none
      margin-bottom: 15px
      .modal-title
         padding: 0
         font-size: 24px
         font-weight: 700
   .modal-body
      padding: 0
      form
         .form-label
            font-size: 18px
            font-weight: 700
            margin-bottom: 1rem
         .custom-control-label
            margin-top: 30px
         