@import '../../build/stylus/utils/color'
.science-listing-page
.news-listing-page
.photo-gallery-page
   background-color: $bg-color-grey
   padding-bottom: 30px 
#listing-page
   .h-section
      margin-bottom: 20px
   #diseases
      padding-bottom: 80px
   #form
      padding: 70px 0 60px
   .photo-card
      margin-bottom: 30px
   .col-card
      display flex
      justify-content: center
      padding: 0 10px
      margin-bottom: 20px
@media(max-width 767px)
   #listing-page
      .h-section
         margin-bottom: 20px
@media(max-width 575px)
   #listing-page
      #diseases
         padding-bottom: 40px
      #form
         padding: 40px 0
      
