<div class="col-lg-6 form-group">
   <label for="name" class="form-label">Ваше имя</label>
   <input id="name" type="text" name="name" class="form-control" placeholder="Иванов Иван" required>
</div>
<div class="col-lg-6 form-group">
   <label for="email" class="form-label">E-mail</label>
   <input id="email" type="email" name="email" class="form-control" placeholder="email@yandex.ru" required>
</div>
<div class="col-12 form-group">
   <label for="review" class="form-label">Отзыв</label>
   <textarea id="review" name="description" class="form-control" rows="5" placeholder="Сообщение"></textarea>
</div>
<div class="col-12 form-group custom-checkbox">
   <input id="checkbox" type="checkbox" name="checkbox" class="custom-control-input" required>
   <label for="checkbox" class="custom-control-label">Отправляя сообщение, вы соглашаетесь с Политикой конфиденциальности</label>
</div>