@import '../../build/stylus/utils/color'

.about-us-page
   .h-section
      margin-bottom: 30px
   #breadcrumbs
      background-color: $bg-color-grey
   #about-us
      padding: 10px 0 40px
   #staff
      padding: 60px 0 30px
   #history
      padding: 60px 0
@media(max-width 767px)
   .about-us-page
      .h-section
         margin-bottom: 20px 
      #about-us
         padding: 10px 0 20px     
      #staff
         padding: 30px 0 10px
      #history
         padding: 30px 0