.contacts-page
   .h-section
      text-transform: none
      margin-bottom: 40px
#contacts
   padding-bottom: 50px
   #map
      width 100%
      height 400px
      margin-bottom: 30px
   .subtitle
      display block
      font-weight: 700
      font-size: 18px
      margin-bottom: 40px
   .info
      position relative
      padding-left: 50px
      margin-bottom: 40px
      font-family: 'PT-Sans'
   .phone-num
      color: #000
      display: block
   .address-info
      margin-bottom: 25px
      display: block
   .icon
      color: #000
      &:before
         content: ''
         position absolute
         left: 0
         top: -4px
         width 28px
         height 28px
@media(max-width 767px)
   #contacts
      #map
         height 300px
      .h-section-bold
      .subtitle
         margin-bottom: 25px
      .info
         padding-left: 40px
         margin-bottom: 30px
      .address-info
         margin-bottom: 15px