.pagination {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 0;
}
.pagination .page-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  margin: 0 2px;
  background-color: #0070bd;
}
.pagination .page-link {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  margin: 0 2px;
  background-color: #0070bd;
  font-size: 24px;
  font-family: 'PT-Sans';
  color: #fff;
  border: none;
}
.pagination .page-link:hover {
  background-color: #0a5f99;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.pagination .active:before {
  content: '';
  position: absolute;
  bottom: 14px;
  width: 15px;
  height: 1px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .pagination {
    margin: 15px 0;
  }
}
